node_modules
.npm
npm-debug.log
dist/**
build/**
.next/**
*.d.ts
.env
.env.local
.env.production
.env.*.local
package-lock.json
yarn.lock
coverage
prisma/generated
public
*.log
*.md
*.json
assets/
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.svg